<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Console" xsi:type="Console" layout="${longdate} ${logger} ${message}" />
    <target name="LogFile" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="D:\nlogs.log" />
    <target name="LogFile_ErrorsOnly" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="D:\nlogs_erros.log" />
    
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="Console, LogFile" />-->
    <logger name="MyConsoleLogger" minlevel="Info" writeTo="Console" />
    <logger name="MyConsoleLogger" minlevel="Debug" writeTo="Console" />
    <logger name="MyLogfileLogger" minlevel="Debug" writeTo="LogFile" />

    <logger name="MyLogfileLogger" minlevel="Error" writeTo="LogFile_ErrorsOnly"/>
    <filters>
      <when condition="level >= LogLevel.Error" />
    </filters>

  </rules>

</nlog>